
/* Sidebar Styles */
#history div {
  background-color: rgb(177, 181, 181);
  text-align: center;
  font-size: 14px;
  padding: 5px;
  margin-bottom: 10px;
}

#search-button{
  background-color: rgba(50, 76, 209, 0.772);
  width: 100%;
  margin-top: 10px;
  padding: 5px;
}


/* Main Dashboard*/

.col-lg-9 {
  border: solid;
  border-color: black;
  margin-top: 30px;

}

.forecast {
  background-color: rgb(48, 48, 66);
  color: white;
  padding: 5px;
  }

/* Responsive Styles */

@media (max-width: 992px) {
  .col-lg-3 {
    flex: 0 0 100%; 
    max-width: 100%;
    margin-bottom: 15px; 
  }

} 