
/* Sidebar Styles */

.col-lg-3 {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#form-heading {
  margin-bottom: 10px; 
}

.form-inline {
  display: flex;
  flex-direction: column; 
}

.weather-search {
  width: 100%;
  margin-bottom: 10px; 
  
}

#search-button{
  background-color: rgba(7, 127, 197, 0.772);
  text-align: center;
  color: white;
  width: 100%;
  margin-top: 10px;
  padding: 5px;
}

#history {
  text-align: center;
  font-size: 14px;
  padding: 5px;
  margin-bottom: 10px;
}

#history div {
  background-color: rgb(177, 181, 181);
  margin-bottom: 10px; 
  padding: 5px;
}


/* Main Dashboard*/

.col-lg-9 {
  border: solid;
  border-color: black;
  margin-top: 30px;
}

.forecast {
  color: white;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 10px; 
}

.forecast-day {
  background-color: rgb(57, 57, 85);
  border: 1px solid white;
  padding: 10px;
}



